<div class="event">
  <div class="content">
    <div class="summary">
       <p><span style="font-style: italic;"><%= message.user.username %></span>: <%= message.body %></p>
    </div>
  </div>
</div>
